<header>
    <!-- <script src="scripts/links.js"></script> -->
    <h1><a href="http://127.0.0.1:8080/" target="_blank">WikiSurf</a></h1> <!--FIXME normal link-->
    <nav>
        <!-- TODO normal links -->
    <button hx-get="http://127.0.0.1:8080/ext/start" hx-target="#target">Start</button>
    <button hx-get="http://127.0.0.1:8080/ext/routes" hx-target="#target">Routes</button>
    <button hx-get="http://127.0.0.1:8080/ext/tours" hx-target="#target">Tours</button>
    </nav>
</header>

<div id="target"></div>
