<script src="/static/htmx.min.js"></script>

<body>
    <h2>Tournament {{.ind}}</h2>

    <h4>
        <div>Password: {{.password}}</div>
    </h4>

    <form hx-put={{printf "/service/tour/%s" .ind }} hx-target="body">
        <label for="start">Start time: {{.start}}</label>
        <input type="datetime-local" id="start" name="start">
        <label for="end">End time: {{.end}}</label>
        <input type="datetime-local" id="end" name="end">
        <button type="submit" hx-confirm="Are you sure?">Update time range</button>
        <br>
    </form> <!-- TODO timezone -->

    <div id="result"></div>

    <table>
        <thead>
            <tr><th>Creator's Name</th>
            <tr><th>Email</th></tr>
        </thead>

        <tbody id="creatorsTbody">
            {{ unescape .creatorsTbody}}
        </tbody>
    </table>

    <div id="creatorResult"></div>

    <form hx-put={{printf "/service/tour/%s/creator" .ind }} hx-target="body">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
        <button type="submit">Add new creator</button>
        <br>
    </form>

    <form hx-delete={{printf "/service/tour/%s/creator" .ind }} hx-target="body">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
        <button type="submit">Remove a creator</button>
        <br>
    </form> <!-- TODO change to one form-->

    <table>
        <thead>
            <tr>
                <th>Route</th>
                <th>Start article</th>
                <th>Finish article</th>
            </tr>
        </thead>

        <tbody id="routesTbody">
            {{ unescape .routesTbody}}
        </tbody>
    </table>

    <div id="routesResult"></div>

    <form hx-delete={{printf "/service/tour/%s/route" .ind }} hx-target="body">
        <label for="start">Start article:</label>
        <input type="text" id="start" name="start" required>
        <label for="finish">Finish article:</label>
        <input type="text" id="finish" name="finish" required>
        <button type="submit">Remove</button>
        <br>
    </form>

    <form hx-put={{printf "/service/tour/%s/route" .ind }} hx-target="body">
        <label for="start">Start article:</label>
        <input type="text" id="start" name="start" required>
        <label for="finish">Finish article:</label>
        <input type="text" id="finish" name="finish" required>
        <button type="submit">Add</button>
        <br>
    </form> <!-- TODO change to one form-->

    <button hx-delete={{printf "/service/tour/%s" .ind }} hx-confirm="Are you sure?" hx-target="body">
        Delete the tour
    </button>
</body>
    