<script src="./static/htmx.min.js"></script>

<body>
    <h2>Sprint {{.ind}}</h2>

    <h4>
        <button hx-get={{printf "/route/%s" .routeId }} hx-target="body">Go to route #{{.routeId}}</button>
        <div>Your place in the route: {{.place}}</div>
    </h4>

    <table>
        <thead>
            <tr>
                <th>Start article</th>
                <th>Finish article</th>
                <th>Start time</th>
                <th>Length time</th>
                <th>Steps count</th>
            </tr>
        </thead>
        <tbody>
            {{ unescape .infoTbody}}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Step</th>
                <th>Article</th>
            </tr>
        </thead>
        <tbody>
            {{ unescape .stepsTbody}}
        </tbody>
    </table>
</body>
    