<script src="./static/htmx.min.js"></script>

<body>
    <h2>Tournaments</h2>

    <h4>
        <button hx-get="/service/create-tournament" hx-target="body">Create a new tournament</button><br>
    </h4>

    <form hx-post="/service/connect-to-tour" hx-target="#result">
        <input type="text" id="password" name="password" required>
        <button type="submit">Connect via password</button>
        <div id="result"></div>
    </form>

    <h4>
        <button hx-get="/service/tours/my" hx-target="#list">The tournaments I participate in</button><br>
        <button hx-get="/service/tours/created" hx-target="#list">The tournaments I have created</button><br>
        <button hx-get="/service/tours" hx-target="#list">Opened tournaments</button><br>
    </h4>
    <table id="list"></table>
</body>
    