<script src="./static/htmx.min.js"></script>

<body>
    <h2>Tournament {{.ind}}</h2>

    <h4>
        <div>Password: {{.password}}</div>
        <div>Start time: {{.start}}</div>
        <div>End time: {{.end}}</div>
        {{if not .participates}} 
            <button hx-post={{printf "/service/tour/participate/%s" .ind }} hx-target="body">Participate in the tour #{{.ind}}</button>
            <div id="result"></div>
        {{else}}
            <button hx-delete={{printf "/service/tour/participate/%s" .ind }} hx-target="body">Quit the tour #{{.ind}}</button>
            <div id="result"></div>
        {{end}}
        {{if .isCreator}}
            <button hx-get={{printf "/tournament/edit/%s" .ind }} hx-target="body">Edit the tour #{{.ind}}</button>
        {{end}}
    </h4>

    <table>
        <thead>
            <tr>
                <th>Route</th>
                <th>Start article</th>
                <th>Finish article</th>
            </tr>
        </thead>
        <tbody>
            {{ unescape .routesTbody}}
        </tbody>
    </table>

    {{template "partials/rating" .}}
</body>
    