<script src="/static/htmx.min.js"></script>

<body>
    <h2>Route {{.ind}}</h2>

    <h4>
        <div>Your place in the route: {{.place}}</div>
    </h4>

    <table>
        <thead>
            <tr>
                <th>Start article</th>
                <th>Finish article</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>{{.start}}</td><td>{{.finish}}</td></tr>
        </tbody>
    </table>

    <!-- FIXME make it work -->
    <!-- <form hx-post="/ext/start" hx-target="body"> -->
        <!-- <input type="hidden" id="start" name="start" value={{.start}} required> -->
        <!-- <input type="hidden" id="finish" name="finish" value={{.finish}} required> -->
        <!-- <button type="submit">Start a sprint</button> -->
        <!-- <br> -->
        <!-- <div id="result"></div> -->
    <!-- </form> -->

    <table>
        <thead>
            <tr><th>User Name</th><th>Time length</th><th>Steps</th></tr></thead>
        </thead>
        <tbody hx-get={{.ratingType}} hx-trigger="intersect once,every 5s" hx-target="this"></tbody>
    </table>
</body>
    
